.Card {
  width: 100%;
  height: 100%;

  color: var(--prime-color);
  border: 1vw solid var(--prime-color);
  background-color: var(--app-white);
}

.CardRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.CardRow > div {
  display: inline-block;
}

.Index,
.Reading {
  font-size: 10vw;
}

.Isolated {
  font-size: 18vw;
}

.Word {
  width: 100%;
}

.Word > svg {
  width: 100%;
  height: auto;
}

.Word p {
  text-align: center;
  font-size: 14vw;
}

@media (min-width: 500px) {
  .CardRow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    padding: 1vw 0;
  }

  .Index,
  .Reading {
    font-size: 3vw;
  }

  .Isolated {
    font-size: 8vw;
  }

  .Word p {
    font-size: 3vw;
  }
}
