.Table {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  padding: 2vw;
}

.Title {
  text-align: center;
  font-size: 10vw;
  display: block;
}

@media (min-width: 500px) {
  .Title {
    font-size: 3vw;
  }
}
