
.Word {
  margin: auto;
}

.Word > svg {
  width: 60%;
  height: auto;
  margin: auto;
  display: block;
}

.Title {
  text-align: center;
  font-size: 14vw;
}

@media (min-width: 500px) {
  .Title {
    font-size: 2vw;
  }
}
