.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.ModalContent {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  max-height: 100vh;
}

.ModalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  color: var(--prime-color);
  font-size: 10vw;
  padding: 4vw;
}

@media (min-width: 500px) {
  .Modal {
    top: 10%;
    left: 10%;
    width: 80%;
  }

  .ModalContent {
    max-height: 80vh;
  }

  .ModalCloseButton {
    font-size: 4vw;
    padding: 1.5vw;
  }
}