.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  z-index: 3;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;

  color: var(--prime-color);
  font-size: 10vw;
  padding: 4vw;
}

@media (min-width: 500px) {
  .Modal {
    top: 15%;
    left: 10%;
    width: 80%;
    overflow: auto;
  }

  .CloseButton {
    font-size: 3vw;
    padding: 1.5vw;
  }
}
