:root {
  /* Flat UI colors: https://flatuicolors.com/palette/defo */
  --emerald: #2ecc71;
  --peter-river: #3498db;
  --sun-flower: #f1c40f;
  --amethyst: #9b59b6;
  --silver: #bdc3c7;
  --cloud: #ecf0f1;
  --green-sea: #16a085;

  --prime-color: var(--peter-river);
  --second-color: var(--sun-flower);
  --app-grey: var(--silver);
  --app-white: var(--cloud);
}

* {
  box-sizing: border-box;
}

.Content {
  margin-top: 7vh;
}